.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 246, 246);
    color: black;
}
.left, .right{
    display: flex;
    gap: 8px;
    align-items: center;
}
.mid img{
    width: 8em;
}
.left img, .right img{
    width: 40px;
}
.left div, .right div, .mid{
    font-weight: bolder;
}


@media screen and (max-width: 576px) {
    .container{
        height: 7vw;
        padding-top: 1em;
    }
    .left, .right{
        height: 1vw;
        font-size: 1vw;
    }
    .left img, .right img{
        width: 5vw;
        height: 5vw;
    }
    .mid img{
        width: 15vw;
        height: 8vw;
    }
}