.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 0.1em #F0F8FF solid;
    background-color: rgb(246, 246, 246);
}
.left{
    width: 15vw;
}
.mid{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}
.links{
    display: flex;
    gap: 1.5vw;
    color: rgb(0, 149, 255);
}

@media screen and (max-width: 768px) {
    .container{
        padding: 2em;
    }
}

@media screen and (max-width: 600px) {
    .left{
        display: none;
    }
}
@media screen and (max-width: 420px) {
    .container{
        flex-direction: column;
        align-items: center;
        font-size: 80%;
    }
    .container :last-child{
        gap: 3em;
    }
    .left{
        display: inline-block;
        width: 60vw;
    }
}