.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 0.1em #F0F8FF solid;
    background-color: rgb(246, 246, 246);
}
.left{
    width: 15vw;
}
.mid{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}
.links{
    display: flex;
    gap: 1.5vw;
    color: rgb(0, 149, 255);
}