@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    width: 110em;
    display: flex;
    gap: 10em;
    margin: 4em auto;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    width: 50em;
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", sans-serif;
}
.text h1{
    font-size: 3em;
    font-weight: 600;
}

.text p, .text div{
    margin: 30px auto;
}



@media screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
        gap: 2em;
    }
    .photo{
        width: 100vw;
        height: 100vw;
    }
    .text{
        width: 100vw;
    }  
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .photo{
        width: 40vw;
        height: 40vw;
    }
    .text h1{
        width: 45vw;
    }
    .text p, .text div{
        margin: 30px 0;
        width: 45vw;
    }
}