@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.container{
    width: 1700px;
    display: flex;
    gap: 10em;
    margin: 50px auto;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    width: 35em;
    display: flex;
    flex-direction: column;
}
.text h1{
    font-size: 3em;
    font-family: "Merriweather";
    font-weight: 900;
}

.text p, .text div{
    margin: 30px 0;
}

.box{
    width: 70%;
    height: 118px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 17px;
    border: 2px rgb(0, 149, 255) solid;
    padding: 1em;
    border-radius: 1em;
}
.textSection{
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}
.customerName{
    color: grey;
}