@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.container{
    width: 110em;
    display: flex;
    gap: 10em;
    margin: 4em auto;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    width: 35em;
    display: flex;
    flex-direction: column;
}
.text h1{
    font-size: 3em;
    font-family: "Merriweather";
    font-weight: 900;
}

.text p, .text div{
    margin: 30px auto;
}



@media screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
        gap: 2em;
    }
    .photo{
        width: 100vw;
        height: 100vw;
    }
    .text{
        width: 100vw;
    }  
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .photo{
        width: 45vw;
        height: 45vw;
    }
}