@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Montserrat';
}
.mainH{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.mainH h2{
    font-size: 3em;
}
.mainH p{
    font-size: 2em;
}
.icons{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
}
.icons div:hover{
    background-color: rgba(201, 200, 200, 0.863);
}

.icons div{
    border: 1px solid black;
    border-radius: 1em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.button{
    align-self: flex-start;
}

@media screen and (max-width: 680px){
    .icons{
        grid-template-columns: auto auto;
        gap: 1em;
    }
    .icons div{
        padding: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .mainH{
        align-self: flex-start;
        gap: 1em;
    }
    .mainH h2{
        font-size: 2em;
        width: 100vw;
    }
    .mainH p{
        font-size: 1em;
        width: 100vw;
    }
    .container{
        flex-direction: column;
        gap: 15vw;
    }
}
@media screen and  (max-width: 420px) {
    .mainH{
        text-align: center;
    }
    .mainH h2{
        font-size: 150%;
    }
    .mainH p{
        font-size: 80%;
    }
    .icons img{
        width: 40%;
    }
    .icons span{
        font-size: 80%;
    }
 }