@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    margin-top: 2em;
    width: 110em;
    display: flex;
    padding-left: 5em;
    gap: 5em;
    align-items: center;
    margin-bottom: 3em;
}
.text{
    width: 45em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family: 'Montserrat';
}

.text > span, .text div h3{
    color: rgb(0, 149, 255);
    font-size: 1.2em;
    font-weight: 700;
}

.header{
    line-height: 3.5em;
}

.text div p{
    font-size: 2.8em;
}

.header h2{
    font-size: 3.5em;
}
.text p{
    font-size: 1.3em;
}
.button{
    align-self: flex-start;
}



@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        padding-left: 0;
    }
    .text{
        width: 100vw;
    }
    .paragraph{
        width: 90vw;
    }
    .photo{
        width: 100vw;
    }
}

@media screen and  (max-width: 1919px) {
    .container{
        width: 100vw;
        justify-content: space-around;
    }
 }
 @media screen and  (max-width: 420px) {
    .container{
        text-align: center;
    }
    .text div p, .header h2, .header h3{
        font-size: 120%;
    }
    .text p{
        font-size: 100%;
        align-self: center;
    }
 }