.button{
    background-color: #367ab8;
    color: white;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    font-size: 1em;
    justify-self: end;
}
.button:hover{
    background-color: rgb(62, 171, 248);
    cursor: pointer;
}

@media  screen and (max-width: 768px) {
    .button{
        width: 25vw;
        font-size: 50%;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.select{
    cursor: pointer;
    display: block;
    padding: 10px
}
.option{
    cursor: pointer;
    float: right;
    line-height: 20px
}