.button{
    background-color: #367ab8;
    color: white;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    font-size: 1em;
}
.button:hover{
    background-color: rgb(62, 171, 248);
    cursor: pointer;
}

@media  screen and (max-width: 768px) {
    .button{
        width: 25vw;
        font-size: 50%;
    }
}
