@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container{

    display: flex;
    justify-content: space-around;
    background-color: rgb(212, 210, 210);
    width: 100vw;
}

.text{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50em;
    font-family: "Raleway", sans-serif;
}

.text h2{
    font-size: 3em;
}
.text h2 h3{
    font-size: 0.6em;
    font-weight: 100;
}
.photo{
    align-self: flex-end;
}
.box{
    border: 0.5em solid rgb(168, 168, 168);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    background-color: rgb(168, 168, 168);
    color: black;
}
.box:hover{
    background-color: rgb(180, 180, 180);
    border-color: rgb(180, 180, 180);
    cursor: default;
}
.camera{
    align-self: center;
}
.boxText{
    font-size: 1.3em;
}

@media screen and (max-width: 768px) {
    .container{
        justify-content: baseline;
    }
    .text h2{
        font-size: 2em;
        align-self: center;
    }
    .box{
        width: 70vw;
        align-self: center;
    }
    .camera{
        width: 5vw;
    }
    .box p{
        font-size: 1em;
    }
}

@media screen and (max-width:924px) {
    .container{
        flex-direction: column;
        gap: 1em;
        padding-bottom: 1em;
    }
    .photo{
        align-self: center;
        border-bottom: 1px solid white;
    }
}
@media screen and  (max-width: 420px) {
    .text h2, .text h3{
        font-size: 120%;
        text-align: center;
    }
    .boxText{
        font-size: 80%;
    }
 }