.container{
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 40vw;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 4em;
}
.text h2{
    font-size: 2.5em;
    font-weight: 400;
}
.text p{
    font-size: 1em;
}
.down{
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.items{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.button{
    align-self: flex-start;
}
.item{
    background-color: #dadada;
    border-radius: 50%;
    padding: 0.4em;
    box-sizing: content-box;
}
.photoResp{
    display: none;
}



@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-bottom: 1em;
    }
    .left{
        width: 100vw;
    }
    .down{
        gap: 0;
    }
    .photoResp{
        display: inline-block;
        width: 70vw;
        height: 60vw;
        align-self: center;
    }
    .photo{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .text{
        gap: 1em;
    }
    .icons{
        font-size: 70%;
    } 
}
@media screen and  (max-width: 420px) {
    .text h2{
        font-size: 150%;
    }
    .text p{
        font-size: 80%;
    }
 }