.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
    width: 100%;
    background-color: black;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50em;
}
.text h2{
    font-size: 3em;
}
.text h3{
    font-size: 2em;
}
.text p{
    font-size: 1.3em;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
        gap: 2em;
    }
    .left img{
        width: 90vw;
        height: 82vw;
    }
    .text{
        width: 80vw;
    }
}
@media screen and  (max-width: 450px) {
    .text h2, .text h3{
        font-size: 150%;
        text-align: center;
    }
    .text p{
        font-size: 80%;
    }
    .text{
        gap: 1em;
    }
    .left img{
        height: 82vw;
    }
 }