@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
    width: 100%;
    background-color: black;
    color: white;
}
.left{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5em;
}
.left img:hover{
    transform: scale(1.1);
}
.text{
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50em;
}
.text h2{
    font-size: 4em;
}
.text h3{
    font-size: 3em;
}
.text p{
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        gap: 5em;
    }
    .left{
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 70vw;
    }
}