.container{
    width: 110em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 1.5em;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header :first-child{
    font-weight: 500;
}
.header :last-child{
    font-weight: 800;
}
.boxes{
    display: flex;
    gap: 3em;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    width: 24vw;
    padding: 3vw 0;
    border: 0.1em solid rgb(0, 149, 255);
    border-radius: 2em;
}
.photo{
    /* transform: translateY(-7.5vw); */
}
.box:hover{
    background-color: #f7f7f7;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price :last-child{
    font-weight: bold;
    font-size: 1.8em;
}
.ship{
    display: flex;
    flex-direction: column;
    color: darkblue;
    font-weight: 700;
}
.buyButtons{
    display: flex;
    gap: 1vw;
}

@media screen and (max-width: 768px) {
    .boxes{
        flex-direction: column;
        gap: 1em;
    }
    .box{
        width: 60vw;
    }
}

@media screen and (max-width: 420px) {
    .box img{
        width: 40%;
        height: 40%;
    }
    .box h3{
        font-size: 100%;
        text-align: center;
    }
    .header h2{
        font-size: 120%;
    }
    .price span, .price :last-child, .ship{
        font-size: 80%;
    }
}