.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
}

.text{
    margin-left: 10em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50em;
}
.text h2{
    font-size: 3em;
}
.paragraph{
    font-size: 1.3em;
}
.compareslider{
    width: 35vw;
    height: 25vw;
}
@media screen and (max-width: 1024px) {
    .compareslider{
        align-self: center;
        width: 95vw;
        height: 70vw;
    }
}
@media screen and (max-width: 924px) {
    .container{
        flex-direction: column;
        gap: 1em;
        padding-bottom: 1em;
    }
    .text{
        margin: 1em 0;
    }
    .photo{
        align-self: center;
    }
}
@media screen and (max-width: 789px) {
    .text{
        width: 100vw;
    }
}
@media screen and  (max-width: 420px) {
    .text h2{
        font-size: 120%;
        text-align: center;
    }
    .paragraph{
        font-size: 80%;
        text-align: center;
    }
 }