@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    background: linear-gradient(155deg,#252525,#292929, white);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;
}
.text{
    font-family: "Raleway", sans-serif;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50em;
}
.text h2{
    font-size: 3em;
}
.text p{
    font-size: 1.3em;
}



@media screen and (max-width: 924px) {
    .container{
        flex-direction: column;
        gap: 1em;
        padding-top: 1em;
    }
    .photo{
        width: 60vw;
        height: 50vw;
        align-self: flex-end;
    }
}
@media screen and (max-width: 789px) {
    .text{
        width: 90vw;
    }

}
@media screen and  (max-width: 420px) {
    .text{
        margin: 0;
        align-items: center;
    }
    .text h2{
        font-size: 120%;
    }
    .text p{
        font-size: 80%;
        text-align: center;
    }
 }